div{
   width: 200px;
   height: 200px;
   border: 1px solid red;
}
#box1{
	float: left;
}
#box2{
	width: 400px;
   	height: 400px;
}
#box3{ 
	float: left; /*box3不会浮动到box2所在行*/
	width: 300px;
   	height: 300px;
}